@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  color: #d81b59;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-shadow: #26aac6 -1px 1px 1px; }

h2 {
  color: #6fcfe3;
  font-size: 1.5em;
  font-weight: 300; }

h3 {
  color: #d81b59;
  text-transform: uppercase; }

h4, h5 {
  font-weight: bold; }

h1, h2, h3, h4, p {
  margin-bottom: 0.75em; }

ul {
  list-style: disc;
  margin: 10px 0 0 20px; }
  @media screen and (max-width: 720px) {
    ul {
      margin: 10px 0 0 10px; } }
  @media screen and (max-width: 480px) {
    ul {
      margin: 10px 0 0 5px; } }

div {
  position: relative;
  box-sizing: border-box; }

p, li {
  line-height: 1.5em; }

a:hover, a:active {
  text-decoration: underline;
  color: lighter(#d81b59, 10%); }
a, a:visited {
  color: #ab1546;
  text-decoration: none; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  background: #26aac6 url("/images/wrap.png");
  padding: 30px 0; }

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1% 0;
  color: #7091a3;
  text-align: center;
  line-height: 2em; }
  .container .section {
    width: 90%;
    padding: 2.5%;
    margin: 1% auto;
    border-radius: 4px;
    background: white; }
  .container textarea, .container input {
    color: #d81b59; }
  .container textarea {
    border: 1px solid lightgrey;
    resize: none;
    width: 258px; }
  .container form {
    margin: 20px 0; }
